html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  /* margin: 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a a a a"
    "a a a a"
    "b b b b"
    "b b b b";
}

.a {
  grid-area: a;
  background-color: red;
}

.b {
  grid-area: b;
  background-color: blue;
}

.track {
  z-index: 1;
  height: 10vh;
  width: 100vw;
  position: relative;
  background-color: yellow;
}

.task {
  float: left;
  z-index: 2;
  height: 10vh;
  width: 10vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  background-color: green;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 3;
}

.dropdown:click .dropdown-content {
    display: block;
}

.create-task-button{
  float: center
}
