html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  /* margin: 0; */
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr);
  grid-template-rows: 100px 100px repeat(4, auto) repeat(6, 50px);
  grid-template-areas:
    "h h h h h"
    "s a a a a"
    "s a a a a"
    "s a a a a"
    "s a a a a"
    "d d d d d"
    "d d d d d"
    "d d d d d"
    "d d d d d"
    "e e e e e"
    "e e e e e";
}

ul {
  list-style: none;
}

.a {
  grid-area: a;
  background-color: white;
  border: 10px solid;
  border-color: white;

  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}


.d {
  grid-area: d;
  background-color: white;
  border-top: 2px solid;
  border-color: #b0bec5;
}

.e {
  grid-area: e;
  background-color: white;
  border-top: 2px solid;
  border-color: #b0bec5;

}



.header {
  z-index: 0;
  grid-area: h;
  background-image: url(many_clocks.jpeg);
  background-position: left top;
  border: 10px solid;
  border-bottom: 0px;
  border-color: white;
  padding: 10px
}

/* This is a sidebar for new tracks */

.new-track {
  margin-bottom: 30px;
  margin: auto;
  width: 20px;
  height: 20px;
}

.track {
  z-index: 1;
  height: 10vh;
  position: relative;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.track-container {
  padding-left: 0;
  border-bottom: 2px solid;
  border-color: #b0bec5;
}

.new-track-button {
}

.task {
  float: left;
  z-index: 2;
  height: 10vh;
  width: 10vw;
  position: relative;
  top: 0;
  left: 0;
  background-color: teal;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  opacity: 0.8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 3;
}

.dropdown:click .dropdown-content {
    display: block;
}

.create-task-button{
  float: center
}

#myProgress {
  width: 0%;
  height: 30px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

#timer{
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

#timeline {
  border-left: 3px solid black;
  z-index: 6;
  height: 100%;
  position: absolute;
}

.button {
  background-color: teal;
  border: 0px;
  text-align: left;
  float: left;
  position: relative;
}



h3{
  margin: 0px;
}

.inline {
  display: inline-block;
}
